.App {
    text-align: center;
  }
  
  .AppHeader {
    background-color: #202A2B;
    min-height: 100vh;
    /* font-size: calc(10px + 2vmin);
    color: white; */
  }
  
  .AppLink {
    color: #61dafb;
  }
  
 /* .AppLogo {
    width: 400px;
    pointer-events: none;
    justify-self: center;
  } */
/*   
  @media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: App-logo-spin infinite 30s linear;
    }
  } */

  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */
