.Home {
    min-height: 100vh;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  
.HomeLogo {
    width: 400px;
    pointer-events: none;
    justify-self: center;
}

.h1{
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    place-self: center;
}

.LoginForm{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    justify-self: center;
}
.LoginForm *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.LoginLabel{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.LoginInput{
    display: block;
    height: 60px;
    width: 94%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.LoginButton{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
  @media (prefers-reduced-motion: no-preference) {
    .HomeLogo {
      animation: Home-logo-spin infinite 36s linear;
    }
  }
  
  @keyframes Home-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  