.Waiter {
    min-height: 100vh;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

.Logo {
    width: 200px;
    pointer-events: none;
    justify-self: center;
}

.Link {
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #61dafb;
  }

.h1, .p{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    place-self: center;
  }

.divRight{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.Form{
  display: flex;
  margin-bottom: 50px;
}
.Label{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.Input{
    height: 60px;
    width: 30%;
    color: aqua;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px 8px;
    font-size: 16px;
    font-weight: 300;
}
.Button{
  margin-top: 50px;
  width: 30%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder{
  color: #e5e5e5;
}

.cartContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;

  .buttonCartContainer {
    width: 100%;
  }

  .buttonCart {
    width: 40%;
  }

  .products{
    height: 50vh;
    width: 20px;
  }

}