.Bigbox {
    min-height: 100vh;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

.Box {
    min-height: 100vh;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

.ContainerOrders{
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

.SectionTotal{
  width: 100%;
  display: grid;
  grid-row: auto;
  align-items: center;
  justify-content: center;
  margin: 10px 0 30px 0;
}

.Logo {
    width: 100px;
    pointer-events: none;
    justify-self: center;
}

.all-cards{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

Li{
  color: #ffffff;
}

.Link{
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: white;
}

.Sent{
  color: #FFCF6E;
}
.Delivered{
  color: green ;
}

.Closed{
  color: red;
}

.Ready{
  color: #17a2b8;
}

.Orderstext{
  color:#080710;
}

.h1, .p{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    place-self: center;
  }

.divRight{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.Form{
  display: flex;
  margin-bottom: 50px;
}
.Label{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.Input{
    height: 60px;
    width: 30%;
    color: aqua;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
}
.Button{
  width: 30%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder{
  color: #e5e5e5;
}

.cartContainer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;

  .buttonCartContainer {
    width: 80%;
  }

  .buttonCart {
    width: 40%;
  }

  .products{
    height: 50vh;
    width: 20px;
  }

}

#ad{
  color: #9af2ff;
}
